<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<script type="text/javascript" src="./js/visManager.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    #mynetwork {
        width: 600px;
        height: 400px;
        border: 1px solid lightgray;
    }
</style>

<div id="mynetwork"></div>

<script type="text/javascript">
    var jobnetname = 'はじめてのジョブ実行1';
    var VisManager = new VisManager();
    VisManager.getNodes(jobnetname, function(data) {
        VisManager.network(VisManager.container, data, VisManager.options);
    });
</script>
