<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<script type="text/javascript" src="/js/visManager.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    #jobnetwork {
        width: 600px;
        height: 300px;
        border: 1px solid lightgray;
    }
</style>

<div id="jobnetwork"></div>

<script type="text/javascript">
    var jobnetname = 'はじめてのジョブ実行1';
    getNodes(jobnetname, function(data) {
        getNetwork(document.getElementById('jobnetwork'), data, options);
    });
</script>
