<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    #mynetwork {
        width: 600px;
        height: 400px;
        border: 1px solid lightgray;
    }
</style>

<div id="mynetwork"></div>

<script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet([
        {id: 1, label: 'Node 1', shape: 'dot', size: 12},
        {id: 2, label: 'Node 2', shape: 'dot', size: 12},
        {id: 3, label: 'Node 3', shape: 'dot', size: 12},
        {id: 4, label: 'Node 4', shape: 'dot', size: 12},
        {id: 5, label: 'Node 5', shape: 'dot', size: 12}
    ]);

    // create an array with edges
    var edges = new vis.DataSet([
        {from: 1, to: 3},
        {from: 1, to: 2},
        {from: 2, to: 4},
        {from: 3, to: 4},
        {from: 4, to: 5}
    ]);

    // create a network
    var container = document.getElementById('mynetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        layout: {
            hierarchical: {
              direction: 'UD',        // UD, DU, LR, RL
              sortMethod: 'directed'   // hubsize, directed
            }
        },
        edges:{
            arrows: 'to'
        }
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);
</script>
