<!-- ステータス表示 Start -->
<div>
    <h3>ステータス</h3>
    <div>
        <h4>ジョブネット</h4>
        <div><%= jobnets %></div>
    </div>
    <div>
        <h4>エージェント</h4>
        <div><%= agents %></div>
    </div>
</div>
<!-- ステータス表示 End -->
