
<!-- ステータス表示 Start -->

<script src="./js/state.js"></script>

<script type="text/javascript">
    window.onload = function () {
        getStatus();
    };
</script>

<div>
    <h3>ステータス</h3>
    <div>
        <h4>実行中ジョブネット</h4>
        <div id="jobnet">
        確認中
        </div>
    </div>
    <div>
        <h4>エージェント</h4>
        <div id ="agent">
        確認中
        </div>
    </div>
</div>
<!-- ステータス表示 End -->
