<html lang="ja">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <div class="container-fluid">
        <form>
            <div class="form-group">
                <label for="jobnetName">ジョブネット名</label>
                <input type="text" class="form-control" id="jobnetName" aria-describedby="jobnetNameHelp" placeholder="ジョブネット名">
                <small id="jobnetNameHelp" class="form-text text-muted">ジョブネット名を設定します。</small>
            </div>
            <div class="form-group">
                <label for="jobnetInfo">ジョブネット説明</label>
                <input type="text" class="form-control" id="jobnetInfo" aria-describedby="jobnetInfoHelp" placeholder="ジョブネット説明">
                <small id="jobnetInfoHelp" class="form-text text-muted">ジョブネットの説明文を設定します。</small>
            </div>
            <div class="form-group">
                <label for="jobnetInfo">スケジュール設定</label>
                <input type="text" class="form-control" id="jobnetInfo" aria-describedby="jobnetInfoHelp" placeholder="スケジュール設定">
                <small id="jobnetInfoHelp" class="form-text text-muted">ジョブネットの説明文を設定します。</small>
            </div>
            <div class="form-group">
                <label for="jobnetInfo">ジョブネット説明</label>
                <input type="text" class="form-control" id="jobnetInfo" aria-describedby="jobnetInfoHelp" placeholder="text">
                <small id="jobnetInfoHelp" class="form-text text-muted">ジョブネットの説明文を設定します。</small>
            </div>
            <div class="form-group">
                <label for="jobnetInfo">ジョブネット説明</label>
                <input type="text" class="form-control" id="jobnetInfo" aria-describedby="jobnetInfoHelp" placeholder="text">
                <small id="jobnetInfoHelp" class="form-text text-muted">ジョブネットの説明文を設定します。</small>
            </div>
            <div class="form-group">
                <label for="jobnetInfo">ジョブネット説明</label>
                <input type="text" class="form-control" id="jobnetInfo" aria-describedby="jobnetInfoHelp" placeholder="text">
                <small id="jobnetInfoHelp" class="form-text text-muted">ジョブネットの説明文を設定します。</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <% include ../partials/jobnetwork %>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>