<html lang="ja">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">Red</div>
            <div class="col-sm-8">Blue</div>
            <div class="col-sm-2">Yellow</div>
        </div>
    </div>

    <div>
        <p>index body</p>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>