<html lang="ja">

<head>
    <% include ../partials/head %>
    <script type="text/javascript">
        window.onload = function () {
            getStatusJobnet();
        };
    </script>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>


    <div class="p-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#tab1" class="nav-link active" data-toggle="tab">実行中</a>
            </li>
            <li class="nav-item">
                <a href="#tab2" class="nav-link" data-toggle="tab">開始待ち</a>
            </li>
            <li class="nav-item">
                <a href="#tab3" class="nav-link" data-toggle="tab">定義</a>
            </li>
            <li class="nav-item">
                <a href="#tab4" class="nav-link" data-toggle="tab">ジョブネットを追加する</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="tab1" class="p-4 tab-pane active">
                <h3>実行中</h3>
                <div id="runJobnet">
                    確認中
                </div>
            </div>
            <div id="tab2" class="p-4 tab-pane">
                <h3>開始待ち（最新10件）</h3>
                <div id="waitJobnet">
                    確認中
                </div>
            </div>
            <div id="tab3" class="p-4 tab-pane">
                <h3>定義</h3>
                <div id="defJobnet">
                    確認中
                </div>
            </div>
            <div id="tab4" class="p-4 tab-pane">
                <h3>ジョブネットを追加する</h3>
                <form class="form-inline">
                    <div class="form-group p-1">
                        <input type="text" class="form-control" placeholder="新しいジョブネット名を入力します" name="newJobnetName">
                    </div>     
                    <div class="form-group p-1">
                        <button type="submit" class="btn btn-primary">作成</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>